
[Unit]
Description=Timesheet app in SPA

[Service]
Type=simple
User=boromir
Group=boromir
Restart=on-failure
Environment=MIX_ENV=prod "PORT=5002"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/boromir/timesheet-spa
ExecStart=/bin/bash /home/boromir/timesheet-spa/start.sh

[Install]
WantedBy=multi-user.target
